#banner {
	margin-top: 50px;
	position: relative;
	
}

#banner img {
	width: 100%;
	height: 100%;
}


#banner .contenedor {
	position: absolute;
	text-align: center;
	transform: translateY(-300%);
	color: #fff
}

#banner h2 {
	font-size: 70px;
}

#bannerproyectos {
	margin-top: 50px;
	position: relative;
	
}

#bannerproyectos img {
	width: 100%;
	height: 100%;
}


#bannerproyectos .contenedor {
	position: absolute;
	text-align: center;
	transform: translateY(-300%);
	color: white;
}

#bannerproyectos h2 {
	font-size: 70px;
}

#Ubicacionbanner img {
	width: 100%;
	height: 100%;
}


#Ubicacionbanner .contenedor {
	position: absolute;
	text-align: center;
	transform: translateY(-300%);
	color: white;
}

#Ubicacionbanner h2 {
	font-size: 80px;
	color: white;
}
